<ion-header>
  <ion-toolbar>
    <ion-title>Mes factures</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item lines="none" routerLink="/facture-infos">
            <ion-label>Facture 1</ion-label>
        </ion-item>
        <ion-item lines="none" routerLink="/facture-infos">
            <ion-label>Facture 2</ion-label>
        </ion-item>
        <ion-item lines="none" routerLink="/facture-infos"> 
            <ion-label>Facture 3</ion-label>
        </ion-item>
    </ion-list>
</ion-content>
