<ion-header>
  <ion-toolbar>
    <ion-title>Trajet</ion-title>
    <ion-button slot="end" routerLink="/livraison-end" fill="clear" color="primary">Commande livré 
    <ion-icon slot="end" name="checkmark-outline"></ion-icon></ion-button>  
  </ion-toolbar> 
</ion-header>

<ion-content>

</ion-content>
