<ion-header>
  <ion-toolbar>
    <ion-title>Forfaits fournisseurs</ion-title> 
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
            <ion-item>
            <ion-label>Choisissez un forfait</ion-label> 
            <ion-select value="1" okText="Valider" cancelText="Annuler">
              <ion-select-option value="1">Forfait 1</ion-select-option>
              <ion-select-option value="2">Forfait 2</ion-select-option>
              <ion-select-option value="3">Restaurateur</ion-select-option> 
            </ion-select>
        </ion-item>
    </ion-list>
        
        <ion-grid>
            <ion-row>
                <ion-col size="12" size-sm>
                    <div></div>
                </ion-col>
                <ion-col size="12" size-sm>
                    <div>
                        <ion-button expand="block" color="secondary">
                        <ion-icon slot="start" name="logo-paypal"></ion-icon>
                            Payer avec Paypal 
                        </ion-button>
                        <br>
                        <div class="stripepay">
                          <br>
                              <form action="/" method="post" id="payment-form">
                            <div class="form-row">
                              <div id="card-element"> <!-- a Stripe Element will be inserted here. --> </div>
                              <!-- Used to display Element errors -->
                              <div id="card-errors" role="alert"></div> 
                            </div>
                            <br>
                            <ion-button (click)="payStripe()" color="dark" expand="full">Effectuer le paiement</ion-button>
                          </form>
                          </div> 
                    </div>
                </ion-col>
                <ion-col size="12" size-sm>
                    <div></div>
                </ion-col>
            </ion-row> 
        </ion-grid>
</ion-content>
