<ion-header>
  <ion-toolbar>
    <ion-title>Mes commandes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item lines="none" routerLink="/commande-infos">
            <ion-label>Commande 1</ion-label>
        </ion-item>
        <ion-item lines="none" routerLink="/commande-infos">
            <ion-label>Commande 2</ion-label>
        </ion-item>
        <ion-item lines="none" routerLink="/commande-infos"> 
            <ion-label>Commande 3</ion-label>
        </ion-item>
    </ion-list>
</ion-content>
