<ion-header>
    <ion-toolbar>
        <ion-button routerLink="/home" fill="clear" slot="start">
            <ion-icon slot="icon-only" name="home-outline"></ion-icon>
        </ion-button> 
    <ion-title>Compte fournisseur</ion-title>  
  </ion-toolbar>
</ion-header>
<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col size="12" size-sm>
                <div>
                    <br>
                    <br>
                    <br> 
                    <ion-button routerLink="/livraison" expand="block" color="danger">Livraison</ion-button>
                </div> 
            </ion-col>
            <ion-col size="12" size-sm>
                <div>
                    <br>
                    <ion-button routerLink="/stand" expand="block" color="light">Stande</ion-button>
                </div>
            </ion-col>
            <ion-col size="12" size-sm>
                <div>
                    <br> 
                    <ion-button routerLink="/commandes" expand="block" color="light">Commande</ion-button>
                </div>
            </ion-col>
            <ion-col size="12" size-sm>
                <div> 
                    <br> 
                    <ion-button expand="block" color="light">Finnance</ion-button> 
                </div>
            </ion-col> 
            <ion-col size="12" size-sm>
                <div> 
                    <br>  
                    <ion-button routerLink="/factures" expand="block" color="light">Factures</ion-button> 
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
