<ion-content>
        <ion-row>
            <ion-col size="12" size-sm>
                <div>
                    <img src="../../assets/maps.png"> 
                </div>
            </ion-col>
            <ion-col size="12" size-sm>
                <div>
                        <p style="text-align: center;">Connectez vous</p>  
                    <br> 
                    <ion-item>
                        <ion-input [(ngModel)]="loginData.email" type="mail" placeholder="Entrez votre email" color="netflix-dark"></ion-input> 
                    </ion-item> 
                        <br>
                    <ion-item>
                        <ion-input [(ngModel)]="loginData.password" [type]="passwordType" placeholder="Enter your password" color="netflix-dark">
                        </ion-input>
                            <ion-icon (click)="togglePassword()" [name]="iconType"></ion-icon>
                    </ion-item> 
                        <br> 
                    <ion-button mode="ios" color="tertiary" expand="block" (click)="login()">Connexion</ion-button>
                    <br>  
                    <ion-button routerLink="/signup" expand="block" fill="clear" color="danger">S'inscrire</ion-button> 
                </div> 
            </ion-col> 
          </ion-row>
          <ion-row>
        <ion-col size="6" size-sm>
            <div>
                <ion-button color="primary" expand="block">
                    <ion-icon slot="start" name="logo-facebook"></ion-icon>
                    Facebook</ion-button>
            </div>
        </ion-col>
        <ion-col size="6" size-sm> 
            <div>
                <ion-button color="danger" expand="block">
                    <ion-icon slot="start" name="logo-google"></ion-icon>
                    Google</ion-button>
            </div>
        </ion-col> 
    </ion-row>
</ion-content>