<ion-header>
  <ion-toolbar>
    <ion-title>Nouveau produit</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <div>
            <img src="">
        </div>
        <ion-button fill="clear" expand="block">
            Ajouter une photo
        </ion-button>
        <ion-item lines="none">
            <ion-input placeholder="Nom du produit"></ion-input>
        </ion-item>
        <ion-item lines="none"> 
            <ion-input type="number" placeholder="Prix"> € </ion-input> 
        </ion-item>
        <ion-item lines="none">
            <ion-textarea rows="6" placeholder="Description"></ion-textarea>  
        </ion-item>
    </ion-list>
        <ion-button color="danger" fill="clear" expand="block">
            Enregistrer un produit<ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
        </ion-button> 
</ion-content>
