<ion-header>
  <ion-toolbar>
    <ion-title>Informations fournisseur</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <br> 
    <div class="formBox"> 
        <ion-list>
        <ion-item>
            <ion-input placeholder="Nom du stand"></ion-input>
        </ion-item>
        <ion-item>
            <ion-input placeholder="Domaine"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Zone de livraison</ion-label> 
            <ion-select  multiple="true" value="1" okText="Valider" cancelText="Annuler">
              <ion-select-option value="1">Zone 1</ion-select-option>
              <ion-select-option value="2">Zone 2</ion-select-option>
              <ion-select-option value="3">Zone 3</ion-select-option>
              <ion-select-option value="4">Zone 4</ion-select-option>  
            </ion-select>
          </ion-item>
        <ion-item>
            <ion-input placeholder="Siret"></ion-input>  
        </ion-item>
          <br>
          <br>
          <ion-button fill="clear" routerLink="/abonnement-fournisseur" expand="block" color="primary">Enregistrer</ion-button> 
    </ion-list>  
    </div> 
</ion-content>
