<ion-header>
  <ion-toolbar>
    <ion-title>Recevoir vos paiements</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item lines="none">
            <ion-label>Transfert bancaire</ion-label>
            <ion-checkbox color="primary"></ion-checkbox>
        </ion-item>
        <ion-item lines="none">
            <ion-label position="stacked">Information de compte bancaire</ion-label>
            <ion-input placeholder="IBAN de votre compte"></ion-input>
        </ion-item>
        <ion-item lines="none">
            <ion-label>Paypal</ion-label>
            <ion-checkbox color="primary"></ion-checkbox>
        </ion-item>
        <ion-item lines="none">
            <ion-label position="stacked">Information de compte Paypal</ion-label>
            <ion-input placeholder="Adresse mail de votre compte Paypal"></ion-input>
        </ion-item>
        <ion-item lines="none">
            <ion-label>Chèques</ion-label> 
            <ion-checkbox color="primary"></ion-checkbox>
        </ion-item>
        <br> 
        <ion-button fill="clear" expand="block" routerLink="/home-fournisseur">Enregistrer</ion-button>
    </ion-list>
</ion-content>
