<ion-content>
    <ion-grid>
        <ion-row>
        <ion-col size="12" size-sm>
            <div></div>
        </ion-col>
        <ion-col size="12" size-sm> 
            <div>
                        <p style="text-align: center;">Créer un compte</p>
                    <br> 
                    <ion-item>
                        <ion-input [(ngModel)]="signupData.email" type="mail" placeholder="Entrez votre email" color="netflix-dark"></ion-input> 
                    </ion-item> 
                        <br>
                    <ion-item>
                        <ion-input [(ngModel)]="signupData.password" [type]="passwordType" placeholder="Entrez votre mot de passe" color="netflix-dark"></ion-input>
                        <ion-icon (click)="togglePassword()" [name]="iconType"></ion-icon>
                    </ion-item>  
                        <br>  
                    <ion-button mode="ios" (click)="signup()" color="tertiary" expand="block">Inscription</ion-button>
                        <p style="text-align: center;">Vous avez déjà un compte ?</p>  
                    <ion-button mode="ios" fill="clear" expand="block" color="success" routerLink="/login">Se connecter</ion-button>
                    <br> 
            </div>
        </ion-col>
        <ion-col size="12" size-sm>
            <div></div>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col>
            <div>
                <ion-button color="primary" expand="block">
                    <ion-icon slot="start" name="logo-facebook"></ion-icon>
                    Inscription avec Facebook</ion-button>
            </div>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col>
            <div>
                <ion-button color="danger" expand="block">
                    <ion-icon slot="start" name="logo-google"></ion-icon>
                    Inscription avec Google</ion-button>
            </div>
        </ion-col>
    </ion-row>
    </ion-grid>
</ion-content>
