<ion-header>
    <ion-toolbar>
    <ion-title>Trajet</ion-title>
    <ion-button slot="end" routerLink="/home-fournisseur" fill="clear" color="primary">Home</ion-button>  
  </ion-toolbar>  
</ion-header>
<ion-content>

</ion-content>
