<ion-header>
  <ion-toolbar>
    <ion-title>Type de compte</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <br>
    <br>
    <br> 
    <ion-grid>
        <ion-row>
            <ion-col size="12" size-sm>
                <div></div>
            </ion-col>
            <ion-col size="12" size-sm>
                <div style="text-align: center;">
                    <p>Vous êtes ?</p> 
                </div>
            </ion-col>
            <ion-col size="12" size-sm>
                <div></div>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="12" size-sm>
                <div></div>
            </ion-col>
            <ion-col size="12" size-sm>
                <div>
                    <ion-button routerLink="/home" expand="block" color="success">Client</ion-button>
                </div>
            </ion-col>
            <ion-col size="12" size-sm>
                <div></div>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="12" size-sm>
                <div></div>
            </ion-col>
            <ion-col size="12" size-sm>
                <div style="text-align: center;"> 
                    <ion-icon name="remove-outline"></ion-icon>
                </div>
            </ion-col>
            <ion-col size="12" size-sm>
                <div></div>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="12" size-sm>
                <div></div>
            </ion-col>
            <ion-col size="12" size-sm>
                <div>
                    <ion-button routerLink="/fournisseur-infos" expand="block" color="danger">Fournisseur</ion-button>  
                </div>
            </ion-col>
            <ion-col size="12" size-sm>
                <div></div>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
