<ion-header>
  <ion-toolbar>
      <ion-button routerLink="/home" fill="clear" slot="start">
          <ion-icon slot="icon-only" name="home-outline"></ion-icon> 
      </ion-button> 
    <ion-title>Vos informations</ion-title>
    <ion-button fill="clear" slot="end" routerLink="/account-type"> 
        <ion-icon slot="end" name="sync-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-segment mode="ios"> 
      <ion-segment-button value="factures" routerLink="/factures">
        <ion-label>Mes factures</ion-label>
      </ion-segment-button>
      <ion-segment-button value="commandes" routerLink="/commandes">  
        <ion-label>Mes commandes</ion-label>
      </ion-segment-button>
    </ion-segment>
    <br> 
    <div class="formBox"> 
    <div class="imgBox">
        <img [src]="image" *ngIf="image">
        <img [src]="userData.imgUrl" *ngIf="userData.imagUrl">  
    </div>
    <div class="imgBox">
        <ion-button (click)="addPhoto()" fill="clear">Ajouter une photo</ion-button> 
    </div>
        <ion-list>
        <ion-item>
            <ion-input [(ngModel)]="userData.name" placeholder="Votre nom"></ion-input>
        </ion-item>
        <ion-item>
            <ion-input [(ngModel)]="userData.tel" placeholder="Votre numéro de téléphone"></ion-input>
        </ion-item>
        <ion-item>
            <ion-input [(ngModel)]="userData.mail" placeholder="Votre email"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="stacked">Votre adresse</ion-label>
            <ion-input [(ngModel)]="userData.adress1" placeholder="Address Line 1"></ion-input>
            <ion-input [(ngModel)]="userData.adress2" placeholder="Address Line 2"></ion-input>
            <ion-input [(ngModel)]="userData.city" placeholder="City"></ion-input>
            <ion-input [(ngModel)]="userData.state" placeholder="State"></ion-input>
            <ion-input [(ngModel)]="userData.zipcode" placeholder="Zip Code"></ion-input>
          </ion-item> 
          <br> 
    </ion-list> 
    </div>
</ion-content>
<ion-footer>
    <ion-button (click)="publish()" fill="clear" expand="block" color="danger">Enregistrer mes informations</ion-button> 
</ion-footer>
