<ion-header>
  <ion-toolbar>
    <ion-title>livraison</ion-title>
    <ion-button slot="end" routerLink="/livraison-map" fill="clear" color="primary">trajet
    <ion-icon slot="end" name="chevron-forward-outline"></ion-icon></ion-button>
  </ion-toolbar> 
</ion-header>
 
<ion-content>

</ion-content>
