<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Pouss Pouss Panier 
    </ion-title>
    <ion-button routerLink="/profile" fill="clear" slot="end">
        <ion-icon name="person-circle-outline"></ion-icon> 
    </ion-button> 
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item lines="none">
            <ion-label>1. Legumes</ion-label>
        </ion-item>
        <ion-item lines="none">
            <ion-label>2. Viande</ion-label>
        </ion-item>
        <ion-item lines="none">
            <ion-label>3. Poisson</ion-label>
        </ion-item>
        <ion-item lines="none">
            <ion-label>4. Restauration</ion-label>
        </ion-item>
        <ion-item lines="none">
            <ion-label>5. Autres</ion-label>
        </ion-item>
    </ion-list>
</ion-content>
<ion-footer> 
    <ion-button routerLink="/fournisseur-infos" fill="clear" expand="block" color="danger">Fournisseurs</ion-button> 
</ion-footer>